# Debian packaging with python-stdeb
# see https://pypi.org/project/stdeb/
[DEFAULT]
Source: ekca-client
Package: ekca-client
Package3: ekca-client
Suite: stable
Suite3: stable
Maintainer: EKCA project <repo@ekca.stroeder.com>
Provides3: python3-ekca-client
