@include portal-type-font-awesome-icon(ftw-faqblock-faqblock, question);

$faqblock-border-colour: $color-primary;
.faqblock {

  label {
    border-bottom: 1px solid $faqblock-border-colour;
    margin: 0;
    padding: $padding-vertical 0;
    width: 100%;
    cursor: pointer;
    display: block;

    h2 {
      margin: 0;
    }

    i {
      display: inline-block;
      padding: 0 $padding-horizontal;
      transition: transform .2s ease-in-out;
      @include rotate(0);

      &:before {
        display: inline-block;
        text-align: center;
      }
    }

    span {
      padding: 0;
    }
  }

  input {
    display: none;
  }

  .faqblock-container {
    padding-top: $padding-vertical;
    display: none;
  }

  input:checked + label i {
    @include rotate(90);
  }

  input:checked + label + .faqblock-container {
    display: block;
  }
}
